.title > h1{
    text-align:center;
    display: block;
}

.title > a{
    left:10px;
    position: absolute;
    text-decoration: none;
    color: #000;
    text-align: left;
}

.image > a > img {
    align-items : center;
    width: 450px;
    height: 450px;
}
