*, .temp{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color: #000;
}


.title{
    align-items: center;
    display: flex;
    justify-content:center;
    height: 5%;
}

.title > h1{
    text-align:center;
    display: block;
}

.title > a{
    left:30px;
    position: absolute;
    text-decoration: none;
    color: #000;
    text-align: left;

}

.menu{
    display: flex;
    justify-content: center;
    height: 55px;
}

.menu_ul{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    
}
.menu_ul li{
    text-decoration: none;
    color: rgb(0, 204, 143);
}


.menu_a{
    text-decoration: none;
    color: #000;
}

.text{
    text-align: center;
    
}
.text1 li{
    text-align: left;
    left: 600px;
    position: absolute; 
    
}

.text2{
    right:600px;
    left: 1100px;
    position: absolute;  
    bottom: 525px;
}

.text2 > li{
    text-align: left;
}

.table{
    width: 93%;
    height: 300px;
    border: 25px;
    border-radius:  #a71d1d;
    margin-left: 60px;
}